
{% extends 'base.html' %}
{% load static %}


	{% block content %}
    
    <div class="column-layout">
        <div class="left">
            <h1>Muhammad Irza</h1>
            <p><br><br>My name is Muhammad Irza.<br> I'm undergraduate student<br> of information system in Universitas Indonesia. <br>Looking forward for any opportunities <br>especially in IT and E-Sports.</p>
            <div class="btn">
                <a href="{% url 'tugas4:portofolio' %}">My Portofolio</a>
            </div>
        </div>    
        <div class="right">
            <div class="img">
                <img src="{% static 'untitled-removebg-preview (1).png' %}"style="width:276px;height:361px;position:relative;top:60px;left:100px" >
            </div>
        </div>
        
    </div>
    {% endblock %}