*{
  margin:0;
  padding:0;
  }
body {
    background-color: grey;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  };
  
  @font-face {
    font-family: oxygen;
    src: url(Oxygen.TTF);
}
nav{
  color: #353232;
}
p {
    color: white;
    font-size: larger;
    text-align: left;
    position: absolute;
    left: 120px; 
    top: 200px ;
  }
p.b{
    color: white;
    font-size: medium;
    text-align: left;
    position: absolute;
    left: 200px; 
    top: 320px ;
}
p.c{
  color: white;
  font-size: medium;
  text-align: left;
  position: absolute;
  left: 200px; 
  top: 620px ;
}
p.d{
  color: white;
  font-size: medium; 
  text-align: left;
  position: absolute;
  left: 200px; 
  top: 920px ;
}
p.e{
  color: white;
  font-size: medium;
  text-align: left;
  position: absolute;
  left: 200px; 
  top: 1220px ;
}
  .column-layout {
    max-width: 1500px;
    height: 450px;
    background-color: #353232;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
  }
  
  .left {
   flex: 1;
   padding: 10px;
  }
  .column-layout .left h1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    position: absolute;
    left: 120px; 
    top: 150px ;
    
  }
  
  .right {
      flex: 1;
      padding: 10px;
  } 
  
  .topnav {
    background-color: rgb(58, 56, 56);
    overflow: hidden;
  }


  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #4e554e;
    color: white;
  }

  .column-layout .left .btn{
    background-color: #f5de0e; /* Green */
    border: none;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    left: 120px; 
    top: 450px ;
  }

  .subtitle h1{
    text-align: center;
    font-family: -apple-system, 'BlinkMacSystemFont', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  .img{
    width: 100%;
    height: auto;

  }
  .bg{
    width: 1200px;
    height: 1400px;
    color: #353232;
    background-color: #353232;
    background: #353232;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #353232;
  }
  ul.a{
    text-align: left;
    list-style: none;
    color: white;
    margin: 0 0 px 0;
  }
  form .tabel {
    margin-left: auto;
    margin-right: auto;
  }