*{
    margin:0;
    padding:0;
    }
  body {
      background-color:   #272424;
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    };
    
    @font-face {
      font-family: oxygen;
      src: url(Oxygen.TTF);
  }
  nav{
    color: #353232;
  }

  #accordion{
      margin: 100px;
  }
  #accordion .acc{
    background-color: #353232;
  }

  #accordion .acc p{
    margin-top: 50px;
    color: white;
  }

