{% extends 'base.html' %}
{% load static %}


	{% block content %}
     
        
    <div class="subtitle"> 
        <h1>Contact me on</h1>
    </div>

    <ul class="a">
        <li style="color: #11a1bb ; "><a href="https://twitter.com/MuhIrza"><img src="{% static 'twit-removebg-preview.png' %}" width="90px" height="70px"></a> Twitter </li>
        <li style="color: #d824cf ;"><a href="https://www.instagram.com/muhammad_irza"><img src="{% static 'ig-removebg-preview.png' %}" width="70px" height="70px"></a>&nbsp; &nbsp; &nbsp; Instagram </li>
        <li style="color: #0251c9 ;"><a href="https://www.linkedin.com/in/muhammad-irza-830199186/"><img src="{% static 'linkeding-removebg-preview (2).png' %}" width="70px" height="70px"></a> &nbsp;&nbsp;&nbsp;    Linkedin </li>
        
    </ul>
    
    {% endblock %}
