{% extends 'base.html' %}
{% load static %}


	{% block content %}
     
    <table class="table" style="color: aliceblue;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Mata Kuliah</th>
            <th scope="col">Dosen</th>
            <th scope="col">SKS</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Semester</th>
            <th scope="col">Ruangan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{obj.name}}</td>
            <td>{{obj.dosen}}</td>
            <td>{{obj.sks}}</td>
            <td>{{obj.deskripsi}}</td>
            <td>{{obj.semester}}</td>
            <td>{{obj.ruangan}}</td>
        </tbody>
      </table>
      <a class="btn btn-warning" href="{% url 'tugas4:form' %}" role="button" style="position: absolute;left: 630px; top: 400px">Kembali isi form</a>
    {% endblock %}
