{% extends 'base.html' %}
{% load static %}


    {% block content %}
    <h1 style="color: white; text-align: center;">Yuk!</h1>
        <div class="row">
            <div class="col">
                <form action="savekegi" method="POST">
                    {% csrf_token %}
                    <table class="tabel" style="margin-left: auto;margin-right: auto;">
                        {{dd_form.as_table}}
                    </table>
                    <input type="submit" value="Submit"> 
            </div>
                    
                    
                </form>
                
        </div>
        
    
    {% endblock %}
