{% extends 'base.html' %}
{% load static %}


    {% block content %}
    <h1 style="color: white; text-align: center;">Isi Mata Kuliah</h1>
        <form action="savename" method="POST" style=color:white>
                {% csrf_token %}
            <table class="tabel" style="margin-left: auto;margin-right: auto;">
                {{input_form.as_table}}
            </table>
            <input type="submit" value="Submit"> 
        </form>
    
        <a class="btn btn-warning" href="{% url 'tugas4:hasil' %}" role="button" style="position: absolute;left: 550px; top: 400px">Cek Deskripsi</a>
        <a class="btn btn-warning" href="{% url 'tugas4:hasilhapus' %}" role="button" style="position: absolute;left: 680px; top: 400px">Hapus Matkul</a>
    
    {% endblock %}
