{% extends 'base.html' %}
{% load static %}


	{% block content %}
     
           
   
        
       <h1 style="color: white; position:absolute ; left: 350px; top: 300px">Matkul yang dipilih berhasil dihapus!</h1>
       <a class="btn btn-warning" href="{% url 'tugas4:form' %}" role="button" style="position: absolute;left: 630px; top: 400px">Kembali isi form</a>
          
      
              
    {% endblock %}
