{% extends 'base.html' %}
{% load static %}


	{% block content %}
     
    <h1 style="color: white; text-align: center;">Pilihlah Mata Kuliah yang ingin dihapus</h1>     
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mata Kuliah
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for item in objs %}
          <a class="dropdown-item" href="{% url 'tugas4:delete' item.id%}">{{item.name}}</a>
          {% endfor %}
          
        </div>
      </div>
            
              
    {% endblock %}
