{% extends 'base.html' %}
{% load static %}


    {% block content %}
    <h1 style="color: white; text-align: center;">yuk ikut kegiatan!</h1>
    <div class="container">
        <div class="row">
          <div class="col">
            <h2 style="color: white; text-align: center;">Musik Sore</h2>
            <img src="{% static 'musik.jpg' %}" alt="Girl in a jacket" width="300" height="300">
            <h2 style="color: white; text-align: center;">Musik Sore</h2>
            {{musik.name}}
          </div>
          <div class="col">
            <h2 style="color: white; text-align: center;">Mabar!</h2>
            <img src="{% static 'mabar.jpg' %}" alt="Girl in a jacket" width="300" height="300">
            {{mabar.name}}
          </div>
          <div class="col">
            <h2 style="color: white; text-align: center;">Tidur</h2>
            <img src="{% static 'tidur.jpg' %}" alt="Girl in a jacket" width="300" height="300">
            {{tidur.name}}
          </div>
        </div>
      </div>
    {% endblock %}
