
{% extends 'base.html' %}
{% load static %}


	{% block content %}
    

    <div class="subtitle"> 
        <h1>Portofolio</h1>
    </div>
    <div class="bg">
        <div class="column-layout">
            <div class="left">
                <p class="b">Praesent non nunc nunc. Fusce condimentum, arcu at pulvinar 
                    <br>maximus, dolor elit volutpat ipsum, et vulputate neque velit<br> non leo. 
                    In turpis mauris, condimentum quis ornare eu,<br> condimentum id turpis.
                    Proin euismod tincidunt hendrerit.<br> Aliquam vitae faucibus neque, sit amet sagittis nulla.
                    <br>Praesent non vehicula metus, non facilisis mauris.<br> Praesent ultrices sagittis ornare.
                    <br>Duis aliquam tortor vitae velit hendrerit, vitae vestibulum <br>mauris ultrices. 
                    Duis ultrices porta lacus in eleifend. </p>
                <p class="c">Praesent non nunc nunc. Fusce condimentum, arcu at pulvinar 
                    <br>maximus, dolor elit volutpat ipsum, et vulputate neque velit<br> non leo. 
                    In turpis mauris, condimentum quis ornare eu,<br> condimentum id turpis.
                    Proin euismod tincidunt hendrerit.<br> Aliquam vitae faucibus neque, sit amet sagittis nulla.
                    <br>Praesent non vehicula metus, non facilisis mauris.<br> Praesent ultrices sagittis ornare.
                    <br>Duis aliquam tortor vitae velit hendrerit, vitae vestibulum <br>mauris ultrices. 
                    Duis ultrices porta lacus in eleifend. </p>
                <p class="d">Praesent non nunc nunc. Fusce condimentum, arcu at pulvinar 
                    <br>maximus, dolor elit volutpat ipsum, et vulputate neque velit<br> non leo. 
                    In turpis mauris, condimentum quis ornare eu,<br> condimentum id turpis.
                    Proin euismod tincidunt hendrerit.<br> Aliquam vitae faucibus neque, sit amet sagittis nulla.
                    <br>Praesent non vehicula metus, non facilisis mauris.<br> Praesent ultrices sagittis ornare.
                    <br>Duis aliquam tortor vitae velit hendrerit, vitae vestibulum <br>mauris ultrices. 
                    Duis ultrices porta lacus in eleifend. </p>
                <p class="e">Praesent non nunc nunc. Fusce condimentum, arcu at pulvinar 
                    <br>maximus, dolor elit volutpat ipsum, et vulputate neque velit<br> non leo. 
                    In turpis mauris, condimentum quis ornare eu,<br> condimentum id turpis.
                    Proin euismod tincidunt hendrerit.<br> Aliquam vitae faucibus neque, sit amet sagittis nulla.
                    <br>Praesent non vehicula metus, non facilisis mauris.<br> Praesent ultrices sagittis ornare.
                    <br>Duis aliquam tortor vitae velit hendrerit, vitae vestibulum <br>mauris ultrices. 
                    Duis ultrices porta lacus in eleifend. </p>
            </div>    
            <div class="right">
                <div class="img">
                    <img src="{% static 'rsz_fifa.jpg' %}" style="position:relative;top:100px;left:10px;width:384px;height:216px;">
                    <img src="{% static 'rsz_pwc.jpg' %}" style="position:relative;top:180px;left:10px;width:384px;height:216px;">
                    <img src="{% static 'rsz_ps.jpg' %}" style="position:relative;top:260px;left:10px;width:384px;height:216px;">
                    <img src="{% static 'compfest.jpg' %}" style="position:relative;top:340px;left:10px;width:216px;height:216px;">
                </div>
            </div>
            
            
            
            
        </div>  
    </div>

    {% endblock %}