{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Irza</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" type ="text/css" href="{% static 'style3.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
        header: "> div > h3",
        collapsible: true,
      active: false
        
      })
      .sortable({
        axis: "y",
        handle: "h3",
        stop: function( event, ui ) {
          // IE doesn't register the blur when sorting
          // so trigger focusout handlers to remove .ui-state-focus
          ui.item.children( "h3" ).triggerHandler( "focusout" );
 
          // Refresh accordion to handle new order
          $( this ).accordion( "refresh" );
        }
      });
  } );
  </script>
</head>
</head>
<body>
<h1 style="text-align: center;color: white;margin-top: 70px;">Q N A</h1>
<div id="accordion">
  <div class="group">
    <h3>Di mana kota kelahiranmu?</h3>
    <div class="acc">
      <img src="{% static 'sby.jpg' %}" class="img-fluid" style="width: 300px;height: 200px;">
      <p>Surabaya, kota pahlawan.</p>
    </div>
  </div>
  <div class="group">
    <h3>Apa Band Favoritmu?</h3>
    <div>
      <img src="{% static 'queen.png' %}" class="img-fluid" style="width: 300px;height: 200px;">
      <p style="margin-top: 40px;">One of the greatest rock band ever, Queen.</p>
    </div>
  </div>
  <div class="group">
    <h3>Siapa yang paling paling kau cintai?</h3>
    <div  class="acc"> 
    <img src="{% static 'fam1.jpg' %}" class="img-fluid" style="width: 200px;height: 300px;">
    <p>Keluarga. Tempat berangkat dan berpulang</p>
    </div>
  </div>
</div>
 
 
</body>
</html>